body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#FEFEFE, #888888);
}

.header {
    display: flex;
}

@media only screen and (max-width: 480px) {
    .header {
        display: block;
    }
}

.header-text {
    margin-left: 20px;
}

@media only screen and (max-width: 480px) {
    h1, h2, h3, h4 {
        text-align: center;
    }
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-right: 1px solid black;
}

.minha-foto {
    width: 200px;
    height: auto;
}

@media only screen and (max-width: 480px) {
    .minha-foto {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

p {
    margin-left: 20px;
    margin-right: auto;
}

@media only screen and (max-width: 480px) {
    p {
        text-align: center;
    }
}

.github-logo, .linkedin-logo {
    vertical-align: middle;
    height: auto;
}

.github-logo {
    width: 15px;
}

.linkedin-logo {
    width: 25px;
}

hr {
    height: 1px;
    margin: 20px 0;
    background-color: black;
}

.table-container {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    .table-container {
        display: block;
    }
}

h3 {
    margin-left: 10px;
    margin-right: auto;
}

.vertical-line {
    border-left: 1px solid black;
}
